[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pywin32 = "*"
pyinstaller = "*"
requests = "*"
socket = "*"

[dev-packages]

[requires]
python_version = "3.7"
